body{
background-color:#5CDB95;
}
img{
  width:50%;
  height:50%;
}
h1{
padding: 20px 10px 20px 10px;
color:#EDF5E1
}
.Section{
  text-align:center;
  font-family:"Lato",sans-serif;
  position:relative;
  
  }
.header{
background color:#05386B;
overflow: hidden;  
position:fixed;
z-index: 10;
padding: 20px 10px;

}
.header a {
  float: left;
  color:#EDF5E1 ;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;  
}
.Section p ul ol h2{
background-color:#379683;
font-family:News-Gothic,serif;
font-size:14px;
border:1px solid #379683;
color:#EDF5E1;
}
