body{
  background-color:#8FC1E3;
}
img{
  width:50%;
  height:50%;
}
div{
  padding: 20px;
}
h1{
  padding: 20px 0px 20px 0px;
  color:#F7F9FB;
  text-align:left;
  text-shadow: 4px 2px gray;
}
h2{
  text-align:center;
}
#AboutMe{
  position:relative;
  top:30px;
}
#AboutMe p{
  text-align:left;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color:#F7F9FB;
}
#Education ol{
  text-align:center;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color:#F7F9FB;
}
#WorkSamples ul{
  text-align:center;
  text-decoration:none;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color:#F7F9FB;
}
#Achievements ul{
  text-align:center;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color:#F7F9FB;
}
#Links h2{
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  font-decoration:none;
  text-decoration:none;
  line-height: 23px;
  margin: 0 0 23px 0;
  color:#F7F9FB;
}
h1.Section{
  background-color:#687864;
  display:block;
  width:100%;
  opacity:0.6;
}
h1.Section p{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.NavBar{ 
  position:fixed;
  z-index: 10;
  top:0;
  width:100%;
  padding:0px,10px;

}
.NavBar li{
  float: left;
  border-right:1px solid #379683;
}
.NavBar li:last-child{
  float:right;
  color:#F7F9FB ;
  text-align: center;
  display: block;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 14px;  
}
.NavBar a {
  float: left;
  color:#F7F9FB ;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px; 
    }
.NavBar a:hover{
background-color:#31708E;
}
.NavBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#687864;
  overflow: hidden;
  }
